# Pandas
Pandas is a Python module for working with tabular data (i.e., data in a table with rows and columns). 

In this lesson, you’ll learn the basics of working with a single table in Pandas, such as:

* Create a table from scratch
* Loading data from another file
* Selecting certain rows or columns of a table

In [1]:
import pandas as pd

## Create a DataFrame

A DataFrame is an object that stores data as rows and columns. You can think of a DataFrame as a spreadsheet or as a SQL table. You can manually create a DataFrame or fill it with data from a CSV, an Excel spreadsheet, or a SQL query.

DataFrames have rows and columns. Each column has a name, which is a string. Each row has an index, which is an integer. DataFrames can contain many different data types: strings, ints, floats, tuples, etc.

You can pass in a dictionary to pd.DataFrame. Each key is a column name and each value is a list of column values. The columns must all be the same length or you will get an error. Here’s an example:

In [2]:
df1 = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe', 'Joe Schmo'],
    'address': ['123 Main St.', '456 Maple Ave.', '789 Broadway'],
    'age': [34, 28, 51]
})

You can also add data using lists.

For example, you can pass in a list of lists, where each one represents a row of data. Use the keyword argument columns to pass a list of column names.

In [3]:
df2 = pd.DataFrame([
    ['John Smith', '123 Main St.', 34],
    ['Jane Doe', '456 Maple Ave.', 28],
    ['Joe Schmo', '789 Broadway', 51]
    ],
    columns=['name', 'address', 'age'])

## Comma Separated Variables (CSV)

We now know how to create our own DataFrame. However, most of the time, we'll be working with datasets that already exist. One of the most common formats for big datasets is the CSV.

CSV (comma separated values) is a text-only spreadsheet format. You can find CSVs in lots of places:

* Online datasets (here's an example from data.gov)
* Export from Excel or Google Sheets
* Export from SQL

The first row of a CSV contains column headings. All subsequent rows contain values. Each column heading and each variable is separated by a comma:

`column1,column2,column3`

`value1,value2,value3`

That example CSV represents the following table: 

<table>
    <tr><th>column1</th><th>column2</th><th>column3</th></tr>
    <tr><td>value1</td><td>value2</td><td>value3</td></tr>
</table>

## Loading and Saving CSVs

When you have data in a CSV, you can load it into a DataFrame in Pandas using .read_csv():

`pd.read_csv('my-csv-file.csv')`

In the example above, the .read_csv() method is called. The CSV file called my-csv-file is passed in as an argument.

We can also save data to a CSV, using .to_csv.

`df.to_csv('new-csv-file.csv')`

In the example above, the .to_csv() method is called on df (which represents a DataFrame object). The name of the CSV file is passed in as an argument (new-csv-file.csv). By default, this method will save the CSV file in your current directory.

## Inspect a DataFrame

When we load a new DataFrame from a CSV, we want to know what it looks like.

If it's a small DataFrame, you can display it by typing print(df).

If it's a larger DataFrame, it's helpful to be able to inspect a few items without having to look at the entire DataFrame.

The method .head() gives the first 5 rows of a DataFrame. If you want to see more rows, you can pass in the positional argument n. For example, df.head(10) would show the first 10 rows.

The method df.info() gives some statistics for each column.

## Select Columns

Now we know how to create and load data. Let's select parts of those datasets that are interesting or important to our analyses.

Suppose you have the DataFrame called customers, which contains the ages of your customers: 

<table>
    <tr><th>name</th><th>age</th></tr>
    <tr><td>Rebecca Erikson</td><td>35</td></tr>
    <tr><td>Thomas Roberson</td><td>28</td></tr>
    <tr><td>Diane Ochoa</td><td>42</td></tr>
</table>

Perhaps you want to take the average or plot a histogram of the ages. In order to do either of these tasks, you'd need to select the column.

There are two possible syntaxes for selecting all values from a column.

1. Select the column as if you were selecting a value from a dictionary using a key. In our example, we would type customers['age'] to select the ages.
2. If the name of a column follows all of the rules for a variable name (doesn't start with a number, doesn't contain spaces or special characters, etc.), then you can select it using the following notation: df.MySecondColumn. In our example, we would type customers.age.

## Selecting Multiple Columns

When you have a larger DataFrame, you might want to select just a few columns. To select two or more columns from a DataFrame, we use a list of the column names. To create the DataFrame shown above, we would use:

`new_df = orders[['last_name', 'email']]`

Note: Make sure that you have a double set of brackets ([[]]), or this command won't work!

## Select Rows
DataFrames are zero-indexed, meaning that we start with the 0th row and count up from there. Joyce Waller's order is the 2nd row.

We select it using the following command:

`orders.iloc[2]`

When we select a single row, the result is a Series (just like when we select a single column).

## Selecting Multiple Rows

Here are some different ways of selecting multiple rows:

`orders.iloc[3:7]` would select all rows starting at the 3rd row and up to but not including the 7th row (i.e., the 3rd row, 4th row, 5th row, and 6th row)

`orders.iloc[:4]` would select all rows up to, but not including the 4th row (i.e., the 0th, 1st, 2nd, and 3rd rows) 

`orders.iloc[-3:]` would select the rows starting at the 3rd to last row and up to and including the final row 

## Select Rows with Logic

You can select a subset of a DataFrame by using logical statements:

`df[df.MyColumnName == desired_column_value]`

You can also combine multiple logical statements, as long as each statement is in parentheses.

For instance, suppose we wanted to select all rows where the customer's age was under 30 or the customer's name was "Martha Jones": 

`df[(df.age < 30) | (df.name == 'Martha Jones')]`

Suppose we want to select the rows where the customer's name is either "Martha Jones", "Rose Tyler" or "Amy Pond". We could use the isin command to check that df.name is one of a list of values:

`df[df.name.isin(['Martha Jones','Rose Tyler','Amy Pond'])]`

## Setting indices
When we select a subset of a DataFrame using logic, we end up with non-consecutive indices. This is inelegant and makes it hard to use .iloc.

We can fix this using the method `.reset_index()`. For example, here is a DataFrame called df with non-consecutive indices: 

<table>
    <tr><th></th><th>First Name</th><th>Last Name</th></tr>
    <tr><td>0</td><td>John</td><td>Smith</td></tr>
    <tr><td>4</td><td>Jane</td><td>Doe</td></tr>
    <tr><td>7</td><td>Joe</td><td>Schmo</td></tr>
</table>

If we use the command `df.reset_index()`, we get a new DataFrame with a new set of indices: 

<table>
    <tr><th></th><th>index</th><th>First Name</th><th>Last Name</th></tr>
    <tr><td>0</td><td>0</td><td>John</td><td>Smith</td></tr>
    <tr><td>1</td><td>4</td><td>Jane</td><td>Doe</td></tr>
    <tr><td>2</td><td>7</td><td>Joe</td><td>Schmo</td></tr>
</table>

Note that the old indices have been moved into a new column called 'index'. Unless you need those values for something special, it's probably better to use the keyword drop=True so that you don't end up with that extra column. If we run the command `df.reset_index(drop=True)`, we get a new DataFrame that looks like this: 

<table>
    <tr><th></th><th>First Name</th><th>Last Name</th></tr>
    <tr><td>0</td><td>John</td><td>Smith</td></tr>
    <tr><td>1</td><td>Jane</td><td>Doe</td></tr>
    <tr><td>2</td><td>Joe</td><td>Schmo</td></tr>
</table>

Using `.reset_index()` will return a new DataFrame, but we usually just want to modify our existing DataFrame. If we use the keyword inplace=True we can just modify our existing DataFrame.

## Adding a Column

Sometimes, we want to add a column to an existing DataFrame. We might want to add new information or perform a calculation based on the data that we already have.

One way that we can add a new column is by giving a list of the same length as the existing DataFrame.

Suppose we own a hardware store called The Handy Woman and have a DataFrame containing inventory information: 

<table>
    <tr><th>Product ID</th><th>Product Description</th><th>Cost to Manufacture</th><th>Price</th></tr>
    <tr><td>1</td><td>3 inch screw</td><td>0.50</td><td>0.75</td></tr>
    <tr><td>2</td><td>2 inch nail</td><td>0.10</td><td>.25</td></tr>
    <tr><td>3</td><td>hammer</td><td>3.00</td><td>5.50</td></tr>
    <tr><td>4</td><td>screwdriver</td><td>2.50</td><td>3.00</td></tr>
</table>

It looks like the actual quantity of each product in our warehouse is missing!

Let's use the following code to add that information to our DataFrame:

`df['Quantity'] = [100, 150, 50, 35]`

Our new DataFrame looks like this: 

<table>
    <tr><th>Product ID</th><th>Product Description</th><th>Cost to Manufacture</th><th>Price</th><th>Quantity</th></tr>
    <tr><td>1</td><td>3 inch screw</td><td>0.50</td><td>0.75</td><td>100</td></tr>
    <tr><td>2</td><td>2 inch nail</td><td>0.10</td><td>.25</td><td>150</td></tr>
    <tr><td>3</td><td>hammer</td><td>3.00</td><td>5.50</td><td>50</td></tr>
    <tr><td>4</td><td>screwdriver</td><td>2.50</td><td>3.00</td><td>35</td></tr>
</table>

We can also add a new column that is the same for all rows in the DataFrame. Suppose we know that all of our products are currently in-stock. We can add a column that says this:

`df['In Stock?'] = True`

Now all of the rows have a column called In Stock? with value True. 

<table>
    <tr><th>Product ID</th><th>Product Description</th><th>Cost to Manufacture</th><th>Price</th><th>In Stock?</th></tr>
    <tr><td>1</td><td>3 inch screw</td><td>0.50</td><td>0.75</td><td>True</td></tr>
    <tr><td>2</td><td>2 inch nail</td><td>0.10</td><td>.25</td><td>True</td></tr>
    <tr><td>3</td><td>hammer</td><td>3.00</td><td>5.50</td><td>True</td></tr>
    <tr><td>4</td><td>screwdriver</td><td>2.50</td><td>3.00</td><td>True</td></tr>
</table>

Finally, you can add a new column by performing a function on the existing columns.

Maybe we want to add a column to our inventory table with the amount of sales tax that we need to charge for each item. The following code multiplies each Price by 0.075, the sales tax for our state:

`df['Sales Tax'] = df.Price * 0.075`


<table>
    <tr><th>Product ID</th><th>Product Description</th><th>Cost to Manufacture</th><th>Price</th><th>Sales Tax</th></tr>
    <tr><td>1</td><td>3 inch screw</td><td>0.50</td><td>0.75</td><td>0.06</td></tr>
    <tr><td>2</td><td>2 inch nail</td><td>0.10</td><td>.25</td><td>0.02</td></tr>
    <tr><td>3</td><td>hammer</td><td>3.00</td><td>5.50</td><td>0.41</td></tr>
    <tr><td>4</td><td>screwdriver</td><td>2.50</td><td>3.00</td><td>0.22</td></tr>
</table>

## Performing Column Operations

In the previous exercise, we learned how to add columns to a DataFrame.

Often, the column that we want to add is related to existing columns, but requires a calculation more complex than multiplication or addition.

For example, imagine that we have the following table of customers:

<table>
    <tr><th>Name</th><th>Email</th></tr>
    <tr><td>JOHN SMITH</td><td>john.smith@gmail.com</td></tr>
    <tr><td>Jane Doe</td><td>jdoe@yahoo.com</td></tr>
    <tr><td>joe schmo</td><td>joeschmo@hotmail.com</td></tr>
</table>

It’s a little annoying that the capitalization is different for each row. Perhaps we’d like to make it more consistent by making all of the letters uppercase.

We can use the apply function to apply a function to every value in a particular column. For example, this code overwrites the existing 'Name' columns by applying the function upper to every row in 'Name'.

```
from string import upper

df['Name'] = df.Name.apply(upper)
```

The result:

<table>
    <tr><th>Name</th><th>Email</th></tr>
    <tr><td>JOHN SMITH</td><td>john.smith@gmail.com</td></tr>
    <tr><td>JANE DOE</td><td>jdoe@yahoo.com</td></tr>
    <tr><td>JOE SCHMO</td><td>joeschmo@hotmail.com</td></tr>
</table>

## Renaming Columns

When we get our data from other sources, we often want to change the column names. For example, we might want all of the column names to follow variable name rules, so that we can use df.column_name (which tab-completes) rather than df['column_name'] (which takes up extra space).

You can change all of the column names at once by setting the .columns property to a different list. This is great when you need to change all of the column names at once, but be careful! You can easily mislabel columns if you get the ordering wrong. Here's an example:

```
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
df.columns = ['First Name', 'Age']
```

You also can rename individual columns by using the .rename method. Pass a dictionary like the one below to the columns keyword argument: 

```
{'old_column_name1': 'new_column_name1', 'old_column_name2': 'new_column_name2'}
```

Here's an example:

```
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
df.rename(columns={
    'name': 'First Name',
    'age': 'Age'},
    inplace=True)
```

The code above will rename name to First Name and age to Age.

Using rename with only the columns keyword will create a new DataFrame, leaving your original DataFrame unchanged. That's why we also passed in the keyword argument inplace=True. Using inplace=True lets us edit the original DataFrame.

There are several reasons why .rename is preferable to .columns:

* You can rename just one column
* You can be specific about which column names are getting changed (with .column you can accidentally switch column names if you're not careful)
    
Note: If you misspell one of the original column names, this command won't fail. It just won't change anything.